@media only screen and (max-width: 340px) {
  .header-area .main-menu .navbar {
    padding: 2%;
    margin: 0;
  }

  /* .site-main .skills-area .experience-area {
    margin: 0;
    padding: 0;
    max-width: 370px;
  } */
}
