html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: green;
}

.title-text {
  font: normal bold 50px/72px var(--roboto);
}

.text-uppercase {
  text-transform: uppercase;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: whitesmoke;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

p.para {
  color: var(--text-color);
  font: normal 400 16px/25px var(--roboto);
}

.title-h1 {
  font: normal bold 39px/40px var(--roboto);
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}
